toml>=0.10.2
tomlkit~=0.13.3
PyYAML~=6.0.2
requests~=2.32.4
webvtt-py~=0.5.1
torch<=2.7.1
torchaudio<=2.7.1
tqdm<=4.67.1
spacy>=3.8.7
sentence-transformers~=4.1.0
chromadb>=1.4.0
streamlit>=1.52.2
mdformat~=1.0.0